@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Bienvenido a mi aplicacion completa de c# donde tendras varios apartados para tocar y ver</h1>
    <p>Aqui habra pequeñas pruebas y ejercicios distintos de cuando estaba estudiando c# </p>
</div>
