@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Index";
}

<h1>Prueba de Vistas</h1>
<p>Página en la que hacemos pruebas de las vistas y distintos ejemplos</p>
